body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: hsl(20, 57%, 58%);
  height: 100vh;
}

.todoAppContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-around;
  background: hsl(20, 57%, 58%);
  /* height: 100%; */
  /* position: relative; */
}

.todo {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
}

.todoForm {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  /* justify-content: left; */
  align-items: center;
}

.todoForm button {
  margin-top: 10px;
}

.todoList {
  overflow: scroll;
  width: 90%;
  height: 70vh;
}

.todoList .card {
  background-color: antiquewhite;
}

.todoList::-webkit-scrollbar {
  display: none;
}
